<div class="container h-full flex flex-col justify-center items-center ">
  <div class=" flex flex-col justify-center items-center gap-6   ">

    <form (ngSubmit)="addProducto()"  class="rounded-lg border-2 border-blue-800 p-24 flex flex-col gap-4">
      <div class="text-center ">
        <h3 class="text-3xl font-bold mb-9">Registro de LLave</h3>
      </div>

      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">
        <div class="flex flex-col jus gap-1 col-span-2 ">
          <p-floatlabel variant="on">
            <input
              pInputText id="on_label"
              [(ngModel)]="producto.nombre"
              autocomplete="off"
              name="nombre"
              pSize="small"
              [ngClass]="['w-full',  message.errorNombre ? classValidation : '']"
              (input)="message.errorNombre = '' "
            />
            <label for="on_label">Nombre</label>
          </p-floatlabel>
          <span class="text-sm text-red-400 ml-1">{{message.errorNombre}}</span>
        </div>


        <div class="flex flex-col  gap-1">

          <p-floatlabel variant="on">
            <p-inputnumber
              [(ngModel)]="producto.precio"
              inputId="on_label"
              mode="currency"
              currency="DOP"
              locale="en-US"
              size="small"
              name="precio"
              (onInput)="message.errorPrecio = '' "
              [ngClass]="message.errorPrecio ? classValidation : '' "
            >

            </p-inputnumber>
            <label for="on_label">Precio</label>
          </p-floatlabel>
          <span class="text-sm text-red-400 ml-1">{{message.errorPrecio}}</span>
        </div>

        <div class="flex flex-col  gap-1">


          <p-floatlabel variant="on">
            <p-inputnumber
              [(ngModel)]="producto.costo"
              inputId="on_label"
              mode="currency"
              currency="DOP"
              locale="en-US"
              size="small"
              name="costo"
              [ngClass]="message.errorCosto ? classValidation : ''"
              (onInput)="message.errorCosto = '' "
            >
            </p-inputnumber>
            <label for="on_label">Costo</label>
          </p-floatlabel>
          <span class="text-sm text-red-400 ml-1">{{message.errorCosto}}</span>
        </div>

      </div>


      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">
        <div class="flex flex-col  gap-1">
          <p-floatlabel variant="on">
            <p-inputnumber
              [(ngModel)]="producto.cantidad"
              mode="decimal"
              inputId="on_label"
              [useGrouping]="false"
              currency="DOP"
              locale="en-US"
              size="small"
              name="costo"
            >

            </p-inputnumber>
            <label for="on_label">Cantidad</label>
          </p-floatlabel>

        </div>


        <div class="flex flex-col gap-1">

          <p-floatlabel variant="on">
            <p-inputnumber
              [(ngModel)]="producto.itbis"
              inputId="on_label"
              size="small"
              prefix="%"
              size="small"
              name="itbis"
            ></p-inputnumber>
            <label for="on_label">Itbis</label>
          </p-floatlabel>
        </div>

        <div class="flex flex-col  gap-1">
          <p-floatlabel variant="on">
            <p-inputnumber
              [(ngModel)]="producto.descuento"
              inputId="on_label"
              mode="currency"
              currency="DOP"
              locale="en-US"
              size="small"
              name="descuento"
            >

            </p-inputnumber>
            <label for="on_label">Descuento</label>
          </p-floatlabel>
        </div>

        <div class="flex flex-col gap-1">

          <p-floatlabel variant="on">
            <p-select
              [options]="categorias"
              [(ngModel)]="producto.categoriaId"
              inputId="on_label"
              optionLabel="nombre"
              optionValue="categoriaId"
              size="small"
              name="categoriaId"
              class="w-full"
            />
            <label for="on_label">Categoria</label>
          </p-floatlabel>

        </div>

      </div>
      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">

        <div class="flex flex-col col-span-2 gap-1">
          <p-floatlabel variant="on">
            <p-select
              [options]="proveedores"
              [(ngModel)]="producto.proveedorId"
              inputId="on_label"
              optionLabel="nombre"
              optionValue="proovedorId"
              size="small"
              name="proveedorId"
              class="w-full"
            />
            <label for="on_label">Proveedor</label>
          </p-floatlabel>
        </div>
        <div class="flex flex-col col-span-2   gap-1">
          <p-floatlabel variant="on">
            <p-select
              [options]="garantias"
              [(ngModel)]="producto.garantiaId"
              inputId="on_label"
              optionLabel="descripcion"
              optionValue="garantiaId"
              size="small"
              name="garantiaId"
              class="w-full"
            />
            <label for="on_label">Garantia</label>
          </p-floatlabel>
        </div>

      </div>
      <div class="grid gap-3">
        <div class="flex flex-col  gap-1">
          <p-iftalabel>
            <textarea
              pTextarea
              id="description"
              [(ngModel)]="producto.descripcion"
              class="w-full"
              name="descripcion"
              cols="12"
              style="resize: none">
            </textarea>
            <label for="description">Descripcion</label>
          </p-iftalabel>
        </div>

      </div>
      <footer>
        <div class="flex justify-center">
          <p-button type="submit"  label="Guardar" severity="success" [loading]="producto.loading" />

        </div>
      </footer>
    </form>

    <p-toast></p-toast>
  </div>

</div>
