

<div class="h-full max-w-[17%] text-white" style="background-color: #004581 ">
  <ul>
    <li class=" flex w-full items-center justify-center h-32 border-b border-gray-500">
      <h2 class="text-2xl">Sistema Llaves</h2>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Dashboard</span>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Inventario</span>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Productos</span>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Ventas</span>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Clientes</span>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Cuadre</span>
    </li>
    <li class="hover:bg-blue-800 hover:cursor-pointer flex w-full items-center justify-center border-b border-gray-500">
      <span class="text-lg p-4">Gastos</span>
    </li>
  </ul>
</div>
