<div class="container h-full flex flex-col justify-center items-center ">
  <div class=" flex flex-col justify-center items-center gap-6   ">

    <form (ngSubmit)="addProducto()"  class="rounded-lg border-2 border-blue-800 p-24 flex flex-col gap-4">
      <div class="text-center ">
        <h3 class="text-3xl font-bold mb-9">Registro de LLave</h3>
      </div>

      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">
        <div class="flex flex-col  gap-1 col-span-2">
          <label class="font-bold ml-1">Nombre</label>
          <input
            class=" border bg-gray-50 border-gray-300 rounded-lg p-1 "
            placeholder="Ej: Llave Kia Sorento"
            type="text"
            name="nombre"
            [(ngModel)]="producto.nombre"
          >
        </div>


        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Precio</label>
          <input
            class=" border rounded-lg bg-gray-50 border-gray-300 p-1"
            placeholder="Ej: 2000"
            type="text"
            name="precio"
            [(ngModel)]="producto.precio"
          >
        </div>

        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Costo</label>

          <input
            class=" border rounded-lg bg-gray-50 border-gray-300 p-1"
            placeholder="Ej: 1500"
            type="text"
            name="costo"
            [(ngModel)]="producto.costo"
          >
        </div>

      </div>


      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">
        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Cantidad</label>
          <input
            class=" border rounded-lg bg-gray-50 border-gray-300 p-1 "
            placeholder="Ej: 20"
            type="text"
            name="cantidad"
            [(ngModel)]="producto.cantidad"
          >
        </div>


        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Itbis</label>
          <input
            class=" border rounded-lg bg-gray-50 border-gray-300 p-1"
            placeholder="Ej: 18"
            type="text"
            name="itbis"
            [(ngModel)]="producto.itbis"
          >
        </div>

        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Descuento</label>
          <input
            class=" border rounded-lg bg-gray-50 border-gray-300 p-1"
            placeholder="Ej: 200"
            type="text"
            name="descuento"
            [(ngModel)]="producto.descuento"
          >
        </div>

        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Categoria</label>

          <select
            [(ngModel)]="producto.categoriaId"
            class=" border bg-gray-50 border-gray-300 rounded-lg  block w-full p-1.5 "
            name="categoriaId"
          >
            <option >Seleccione</option>
            @for(category of categorias; track $index){
              <option [value]="category.categoriaId">{{category.nombre}}</option>
            }
          </select>
        </div>

      </div>
      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">

        <div class="flex flex-col col-span-2 gap-1">
          <label class="font-bold ml-1">Proveedor</label>

          <select
            [(ngModel)]="producto.proveedorId"
            class=" bg-gray-50 border-gray-300 border  rounded-lg  block w-full p-1 "
            name="proveedorId"
          >
            <option >Seleccione</option>
            @for(proveedor of proveedores; track $index){
              <option [value]="proveedor.proovedorId">{{proveedor.nombre}}</option>
            }
          </select>
        </div>
        <div class="flex flex-col col-span-2   gap-1">
          <label class="font-bold ml-1">Garantia</label>

          <select
            [(ngModel)]="producto.garantiaId"
            class="bg-gray-50 border-gray-300 border   rounded-lg  block w-full p-1 "
            name="garantiaId"
          >
            <option>Seleccione</option>
            @for(garantia of garantias; track $index){
              <option [value]="garantia.garantiaId">{{garantia.descripcion}}</option>
            }
          </select>
        </div>

      </div>
      <div class="grid gap-3">
        <div class="flex flex-col  gap-1">
          <label class="font-bold ml-1">Descripcion</label>
          <input
            class=" border rounded-lg bg-gray-50 border-gray-300 p-1"
            placeholder="Ej: Llave de kia sorento con garantia"
            type="text"
            name="descripcion"
            [(ngModel)]="producto.descripcion"
          >
        </div>

      </div>
      <footer>
        <div class="flex justify-center">
          <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded-lg">
            Guardar
          </button>
        </div>
      </footer>
    </form>



  </div>

</div>
