<div class="container h-full flex flex-col justify-center items-center ">
  <div class=" flex flex-col justify-center items-center gap-6   ">
    <div class="rounded-lg border-2 p-10 flex flex-col gap-4">
      <div class="text-center ">

        <h3 class="text-2xl">Registro de LLave</h3>
      </div>

      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">
        <input
          class=" border-2 rounded-lg p-1 col-span-2"
          placeholder="Nombre"
          type="text"
        >

        <input
          class=" border-2 rounded-lg p-1"
          placeholder="Precio"
          type="text"
        >
        <input
          class=" border-2 rounded-lg p-1"
          placeholder="Costo"
          type="text"
        >
      </div>


      <div class="grid grid-flow-row-dense grid-cols-4 gap-3">
        <input
          class=" border-2 rounded-lg p-1 "
          placeholder="Cantidad"
          type="text"
        >

        <input
          class=" border-2 rounded-lg p-1"
          placeholder="Itbis"
          type="text"
        >
        <input
          class=" border-2 rounded-lg p-1"
          placeholder="Descuento"
          type="text"
        >
        <select class="bg-white border-2  text-gray-400  rounded-lg  block w-full p-2.5 ">
          <option>Categoria</option>
          <option>Opcion 1</option>
          <option>Opcion 2</option>
          <option>Opcion 3</option>
          <option>Opcion 4</option>
        </select>
      </div>
      <div class="grid gap-3">
        <input
          class=" border-2 rounded-lg p-1"
          placeholder="Descripcion"
          type="text" 
        >
      </div>
    </div>


  </div>

</div>
