<div class="overflow-auto mb-6 px-4 pt-6">
  <div class="flex justify-center mb-4">
    <input type="text" id="cliente-name" value="Yudelka Elister Guillen Duran"
           class="w-1/2 border border-gray-300 rounded p-2" placeholder="Buscar cliente..."/>
    <button class="p-2 bg-blue-500 text-white rounded hover:bg-blue-600 ml-2">🔍</button>
  </div>

  <!-- Tabla -->
  <div class="overflow-x-auto max-w-4xl mx-auto">
    <table class="w-full border-collapse border border-gray-300 text-left">
      <thead class="bg-gray-100">
      <tr>
        <th class="border border-gray-300 p-1">Código</th>
        <th class="border border-gray-300 p-1">Cliente</th>
        <th class="border border-gray-300 p-1">Estado</th>
        <th class="border border-gray-300 p-1">Fecha</th>
        <th class="border border-gray-300 p-1">Mét. pago</th>
        <th class="border border-gray-300 p-1">Nota</th>
        <th class="border border-gray-300 p-1">Total</th>
        <th class="border border-gray-300 p-1">Acción</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="border border-gray-300 p-1 text-center">7984</td>
        <td class="border border-gray-300 p-1">Juan Pérez</td>
        <td class="border border-gray-300 p-1 text-center"><span class="inline-block py-1 px-3 rounded-full border-2 border-green-500 text-green-500">Pago</span></td>
        <td class="border border-gray-300 p-1 text-center">2025-01-10</td>
        <td class="border border-gray-300 p-1 text-center">Al contado</td>
        <td class="border border-gray-300 p-1">Nota pendiente</td>
        <td class="border border-gray-300 p-1 text-right">$200.00</td>
        <td class="border border-gray-300 p-1 text-center">
          <button>
            <img src="bill.png  " alt="Ícono de factura" width="32" height="32"/>
          </button>
        </td>
      </tr>
      <tr>
        <td class="border border-gray-300 p-1 text-center">4578</td>
        <td class="border border-gray-300 p-1">Yudelka Elister Guillen Duran</td>
        <td class="border border-gray-300 p-1 text-center"><span class="inline-block py-1 px-3 rounded-full border-2 border-blue-500 text-blue-500">Pendiente</span>
        <td class="border border-gray-300 p-1 text-center ">2025-01-15</td>
        <td class="border border-gray-300 p-1 text-center">Cr&eacute;dito</td>
        <td class="border border-gray-300 p-1">Primera compra</td>
        <td class="border border-gray-300 p-1 text-right">$150.00</td>
        <td class="border border-gray-300 p-1 text-center">
          <button>
            <img src="bill.png" alt="Ícono de factura" width="32" height="32"/>
          </button>
        </td>
      </tr>

      <tr>
        <td class="border border-gray-300 p-1 text-center">6575</td>
        <td class="border border-gray-300 p-1">Juan Pérez</td>
        <td class="border border-gray-300 p-1 text-center"><span class="inline-block py-1 px-3 rounded-full border-2 border-green-500 text-green-500">Pago</span>
        </td>
        <td class="border border-gray-300 p-1 text-center">2025-01-10</td>
        <td class="border border-gray-300 p-1 text-center">Al contado</td>
        <td class="border border-gray-300 p-1">Nota pendiente</td>
        <td class="border border-gray-300 p-1 text-right">$200.00</td>
        <td class="border border-gray-300 p-1 text-center">
          <button>
            <img src="bill.png  " alt="Ícono de factura" width="32" height="32"/>
          </button>
        </td>
      </tr>

      <tr>
        <td class="border border-gray-300 p-1 text-center">5851</td>
        <td class="border border-gray-300 p-1">Juan Pérez</td>
        <td class="border border-gray-300 p-1 text-center"><span class="inline-block py-1 px-3 rounded-full border-2 border-red-500 text-red-500">Deuda</span></td>
        <td class="border border-gray-300 p-1 text-center">2025-01-10</td>
        <td class="border border-gray-300 p-1 text-center">Al contado</td>
        <td class="border border-gray-300 p-1">Nota pendiente</td>
        <td class="border border-gray-300 p-1 text-right">$200.00</td>
        <td class="border border-gray-300 p-1 text-center">
          <button>
            <img src="bill.png  " alt="Ícono de factura" width="32" height="32"/>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
